html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  letter-spacing: 0.2px; }

.button {
  border-radius: 5px;
  border: none;
  cursor: pointer; }

.button-normal-sm {
  background-color: #3483FA;
  width: 176px;
  height: 40px;
  color: #fff;
  font-weight: 700;
  transition: 0.1s ease-in; }
  .button-normal-sm:hover {
    background-color: #106DF9; }

.button-normal-sm-outline {
  border: 2px solid #3483FA;
  background-color: white;
  width: 176px;
  height: 40px;
  color: #3483FA;
  font-weight: 700;
  transition: 0.1s ease-in; }
  .button-normal-sm-outline:hover {
    border: 2.5px solid #106DF9;
    color: #106DF9; }

.button-normal-lg {
  background-color: #3483FA;
  width: 384px;
  height: 40px;
  color: #fff;
  font-weight: 700;
  transition: 0.15s ease-in; }
  .button-normal-lg:hover {
    background-color: #106DF9; }

.button-comprar {
  background-color: #3483FA;
  width: 197px;
  height: 64px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  transition: 0.1s ease-in; }
  .button-comprar:hover {
    background-color: #106DF9; }

.button-carrinho {
  border: solid 2px #3483FA;
  width: 197px;
  height: 64px;
  color: #3483FA;
  font-weight: 700;
  font-size: 18px;
  transition: 0.1s ease-in; }
  .button-carrinho:hover {
    border: solid 2px #106DF9;
    color: #106DF9; }

.button-banner {
  background-color: #FD7E02;
  width: 280px;
  height: 56px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  transition: 0.1s ease-in; }
  .button-banner:hover {
    background-color: #FF6404; }

.button-promo-top {
  background-color: #FD7E02;
  width: 114px;
  height: 24px;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  transition: 0.1s ease-in; }
  .button-promo-top:hover {
    background-color: #FF6404; }

.button-minha-conta {
  background-color: #FD7E02;
  width: 176px;
  height: 44px;
  color: #fff;
  font-weight: 700;
  transition: 0.1s ease-in; }
  .button-minha-conta:hover {
    background-color: #FF6404; }

.button-card-comprar {
  background-color: #FD7E02;
  width: 100px;
  height: 28px;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  transition: 0.1s ease-in; }
  .button-card-comprar:hover {
    background-color: #FF6404; }

.button-formas-login {
  width: 122px;
  height: 44px;
  background-color: #302626;
  transition: 0.1s; }
  .button-formas-login:hover {
    background-color: #2b2222; }

.grid {
  width: 1226px;
  margin: 0 auto; }

.formulario_campo {
  display: flex;
  flex-direction: column; }
  .formulario_campo label {
    font-size: 16px;
    font-weight: 700;
    color: #525252;
    margin-bottom: 8px; }
  .formulario_campo input, .formulario_campo select {
    height: 40px;
    width: 592px;
    border-radius: 5px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid #bbbbbb;
    margin-bottom: 32px; }
  .formulario_campo select {
    cursor: pointer;
    width: 624px;
    appearance: none;
    background: url(../../assets/img/arrow_select.svg) no-repeat right 10px top 50%; }
    .formulario_campo select:focus, .formulario_campo select:hover {
      outline: none;
      border: 1px solid #6B6B6B; }
    .formulario_campo select li {
      font-size: 45px; }

.textarea_formatacao {
  border-radius: 5px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  border: 1px solid #bbbbbb;
  resize: none;
  padding: 16px;
  appearance: none;
  margin-bottom: 32px; }

#head-main {
  height: 148px;
  display: flex;
  align-items: center; }
  #head-main .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #head-main .logo img {
      width: 101px;
      height: 72px; }
    #head-main .logo input[type=text] {
      border: solid 1px #FD7E02;
      border-radius: 5px;
      width: 176px;
      height: 24px;
      padding-left: 14px;
      margin-top: 8px; }
  #head-main .busca {
    display: flex;
    align-items: center; }
    #head-main .busca input[type=text] {
      background-color: #FBE1C8;
      border: none;
      border-radius: 5px 0 0 5px;
      width: 476px;
      height: 44px;
      padding-left: 20px;
      margin-left: 32px; }
      #head-main .busca input[type=text]::placeholder {
        color: #FF6404;
        font-size: 14px; }
    #head-main .busca .pesquisar {
      width: 44px;
      height: 44px;
      border: none;
      background-color: #FD7E02;
      margin-left: 0;
      cursor: pointer;
      border-radius: 0 5px 5px 0;
      transition: 0.1s ease-in; }
      #head-main .busca .pesquisar img {
        width: 22px;
        height: 22px; }
      #head-main .busca .pesquisar:hover {
        background-color: #FF6404; }
  #head-main label {
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    margin-left: 32px; }
    #head-main label .icone-perfil {
      margin-right: 8px; }
  #head-main .icones {
    margin-left: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    #head-main .icones .alerta {
      margin: 14px; }
      #head-main .icones .alerta #alerta-svg {
        fill: #FD7E02;
        transition: 0.2s; }
        #head-main .icones .alerta #alerta-svg:hover {
          fill: #FF6404; }
    #head-main .icones .carrinho {
      margin-left: 6px; }
      #head-main .icones .carrinho #carrinho-svg {
        fill: #FD7E02;
        transition: 0.2s; }
        #head-main .icones .carrinho #carrinho-svg:hover {
          fill: #FF6404; }

nav {
  height: 54px;
  width: 100%;
  background-color: #421286; }
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0; }
    nav ul li a {
      text-decoration: none;
      padding: 14px;
      color: white;
      line-height: 54px;
      font-size: 15px; }
      nav ul li a:hover {
        border-bottom: 4px solid #FD7E02; }
    nav ul li:nth-child(1) {
      margin-right: 24px; }
      nav ul li:nth-child(1) a {
        font-weight: 500;
        font-size: 18px; }
        nav ul li:nth-child(1) a:hover {
          border-bottom: none; }

.card a {
  text-decoration: none;
  transition: 0.2s;
  margin-top: 48px;
  width: 280px;
  height: 392px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .card a .card-top {
    height: 258px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .card a .card-botton {
    margin: 0 12px 12px 12px; }
    .card a .card-botton .preco-antigo {
      color: #AEAEAE; }
    .card a .card-botton .container-comprar {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .card a .card-botton .container-comprar .preco {
        color: #2B2833;
        font-size: 24px;
        font-weight: 700; }
    .card a .card-botton .nome-card-produto {
      color: #525252;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      margin-top: 14px; }
  .card a:hover {
    box-shadow: 0 8px 35px 0 rgba(64, 0, 87, 0.2);
    transform: scale(1.02); }

.card-categoria-link {
  text-decoration: none;
  cursor: pointer; }
  .card-categoria-link .card_categoria {
    width: 176px;
    height: 176px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s; }
    .card-categoria-link .card_categoria h5 {
      font-size: 14px;
      line-height: 21px;
      font-weight: 500;
      color: #8D8C8C;
      margin-top: 16px; }
    .card-categoria-link .card_categoria:hover {
      transform: scale(1.03);
      background-color: #FD7E02;
      box-shadow: 0 8px 35px 0 rgba(64, 0, 87, 0.3); }
      .card-categoria-link .card_categoria:hover h5 {
        color: white; }
      .card-categoria-link .card_categoria:hover .hover-categoria-sugerida {
        fill: white; }

#promo-top {
  background-color: #f3f3f3;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }
  #promo-top .promo-top-container {
    width: auto;
    display: flex;
    align-items: center; }
    #promo-top .promo-top-container h4 {
      color: #421286;
      text-transform: uppercase; }
      #promo-top .promo-top-container h4 span {
        font-weight: 700; }
    #promo-top .promo-top-container button {
      margin-left: 32px; }

.destaque {
  display: flex;
  justify-content: space-between; }

.banner {
  width: 1440px;
  height: 438px;
  background-color: #FFAC00;
  background-image: url(../../assets/img/banner-grande-1.png); }

.oferta-semana {
  height: 552px;
  display: flex;
  flex-direction: column; }
  .oferta-semana h2 {
    margin-top: 80px;
    text-align: center;
    font-size: 48px;
    line-height: 60px;
    font-weight: 300;
    color: #6B6B6B; }
  .oferta-semana .container-box {
    margin-top: 36px;
    display: flex;
    justify-content: space-between; }
    .oferta-semana .container-box .box-oferta-semana {
      width: 384px;
      height: 286px;
      background-color: #FEA04E; }

.destaque {
  display: flex;
  flex-direction: column; }
  .destaque h2 {
    text-align: center;
    font-size: 48px;
    line-height: 60px;
    font-weight: 300;
    color: #6B6B6B; }
  .destaque .produtos-destaque {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px; }

.banner-meio {
  margin-top: 80px;
  width: 1440px;
  height: 286px;
  display: flex;
  align-items: flex-end;
  background-image: url(../../assets/img/banner-pequeno-2.png); }
  .banner-meio button {
    margin-bottom: 38px; }

.produtos-botton-banner {
  margin-top: 80px; }
  .produtos-botton-banner .produtos-botton {
    display: flex;
    justify-content: space-between; }

.outras-ofertas {
  margin-top: 80px; }
  .outras-ofertas h2 {
    text-align: center;
    font-size: 48px;
    line-height: 60px;
    font-weight: 300;
    color: #6B6B6B; }
  .outras-ofertas .container-box-outras-ofertas {
    display: flex;
    justify-content: space-between; }
    .outras-ofertas .container-box-outras-ofertas .box-outras-ofertas {
      margin-top: 36px;
      width: 592px;
      height: 286px;
      background-color: #FEA04E; }

.categorias-sugeridas {
  margin-top: 80px;
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: #F2EEF7; }
  .categorias-sugeridas .container-categorias-sugeridas h2 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 300;
    color: #6B6B6B;
    text-align: center;
    margin-bottom: 36px; }
  .categorias-sugeridas .container-categorias-sugeridas .container-box-categorias-sugeridas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .categorias-sugeridas .container-categorias-sugeridas .container-box-categorias-sugeridas a {
      margin-bottom: 32px; }

.sobre-comercio-livre {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between; }
  .sobre-comercio-livre .sobre-home {
    width: 480px;
    height: 160px;
    border-radius: 5px;
    border: solid 2px #DBCDEF;
    padding: 32px;
    display: flex;
    align-items: center; }
    .sobre-comercio-livre .sobre-home img {
      width: 128px;
      height: 90px; }
    .sobre-comercio-livre .sobre-home p {
      margin-left: 18px;
      font-size: 14px;
      line-height: 21px;
      font-weight: 400;
      color: #8D8C8C; }
  .sobre-comercio-livre .mapa-home {
    width: 592px;
    height: 360px;
    border-radius: 5px; }

.container .box-teste {
  width: 200px;
  height: 200px;
  background-color: yellow; }

.bg-login-color {
  background: #E3E3E3;
  height: 100%; }

.container-login {
  background: url(../../assets/img/pagina-login.png) no-repeat;
  height: 868px; }
  .container-login .container {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
  .container-login .container-left-login {
    z-index: 1; }
    .container-login .container-left-login .texto-login {
      margin-top: 60vh;
      width: 384px; }
      .container-login .container-left-login .texto-login h1 {
        font-size: 64px;
        color: white;
        font-weight: 700;
        margin-bottom: 24px; }
        .container-login .container-left-login .texto-login h1 span {
          color: #FD7E02; }
      .container-login .container-left-login .texto-login p {
        font-size: 20px;
        line-height: 150%;
        color: white; }
  .container-login .container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 48px; }
    .container-login .container-right .dica-login {
      margin-top: 54px;
      text-align: center;
      width: 410px;
      font-size: 12px;
      line-height: 18px;
      font-weight: 400;
      color: #6B6B6B; }
  .container-login .container-right-login {
    margin-top: 40px;
    width: 547px;
    height: 678px;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .container-login .container-right-login .titulo-login {
      margin-top: 48px;
      width: 410px; }
      .container-login .container-right-login .titulo-login img {
        margin-bottom: 40px; }
      .container-login .container-right-login .titulo-login h2 {
        font-size: 24px;
        font-weight: 700;
        color: #2B2833;
        margin-bottom: 32px; }
    .container-login .container-right-login .form-login {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .container-login .container-right-login .form-login .form {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px; }
        .container-login .container-right-login .form-login .form label {
          font-size: 16px;
          font-weight: 700;
          color: #525252;
          line-height: 125%;
          margin-bottom: 6px; }
        .container-login .container-right-login .form-login .form input {
          width: 384px;
          height: 40px;
          padding-left: 16px;
          border-radius: 5px;
          border: 1px solid #8D8C8C; }
      .container-login .container-right-login .form-login button {
        margin-bottom: 24px;
        width: 406px; }
    .container-login .container-right-login a {
      text-decoration: none;
      font-weight: 700;
      color: #3483FA;
      margin-bottom: 16px; }
      .container-login .container-right-login a:hover {
        color: #106DF9; }
    .container-login .container-right-login p {
      font-weight: 700;
      color: #AEAEAE;
      margin-bottom: 16px; }
    .container-login .container-right-login .outras-formas-login {
      width: 406px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px; }
    .container-login .container-right-login h5 {
      font-size: 14px;
      color: #6B6B6B; }
      .container-login .container-right-login h5 a {
        text-decoration: none;
        font-weight: 700;
        color: #3483FA;
        margin-bottom: 16px; }
        .container-login .container-right-login h5 a:hover {
          color: #106DF9; }

#cadastrarConta_bg {
  background-color: #E4E4E4;
  padding-bottom: 140px; }

.cadastrarConta {
  width: 100%;
  background: url(../../assets/img/bg_cadastrarConta.png) no-repeat top center; }
  .cadastrarConta .cadastrarConta_container {
    width: 1008px;
    margin: 0 auto; }
    .cadastrarConta .cadastrarConta_container .cadastrarConta_titulo-logo {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .cadastrarConta .cadastrarConta_container .cadastrarConta_titulo-logo .cadastrarConta_titulo {
        width: 380px; }
        .cadastrarConta .cadastrarConta_container .cadastrarConta_titulo-logo .cadastrarConta_titulo h1 {
          padding-top: 84px;
          line-height: 100%;
          font-size: 48px;
          font-weight: 700;
          line-height: 125%;
          color: white; }
          .cadastrarConta .cadastrarConta_container .cadastrarConta_titulo-logo .cadastrarConta_titulo h1 span {
            color: #FD7E02; }
        .cadastrarConta .cadastrarConta_container .cadastrarConta_titulo-logo .cadastrarConta_titulo p {
          margin-top: 8px;
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
          color: white; }
      .cadastrarConta .cadastrarConta_container .cadastrarConta_titulo-logo .cadastrarConta_logo {
        width: 96px;
        height: 88px;
        background-color: white;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .cadastrarConta .cadastrarConta_container .cadastrarConta_titulo-logo .cadastrarConta_logo a {
          cursor: pointer; }
          .cadastrarConta .cadastrarConta_container .cadastrarConta_titulo-logo .cadastrarConta_logo a img {
            width: 72px;
            height: 52px; }
    .cadastrarConta .cadastrarConta_container .cadastrarConta_container-formulario {
      width: 1008px;
      height: 680px;
      background-color: white;
      margin-top: 48px;
      border-radius: 5px; }
      .cadastrarConta .cadastrarConta_container .cadastrarConta_container-formulario .cadastrarConta_formulario {
        padding: 77px 88px 77px 88px;
        display: flex;
        justify-content: space-between; }
        .cadastrarConta .cadastrarConta_container .cadastrarConta_container-formulario .cadastrarConta_formulario .cadastrarConta_formulario-left {
          width: 384px; }
          .cadastrarConta .cadastrarConta_container .cadastrarConta_container-formulario .cadastrarConta_formulario .cadastrarConta_formulario-left .aceitar-termos {
            display: flex;
            align-items: center;
            margin-top: 8px;
            margin-bottom: 20px; }
            .cadastrarConta .cadastrarConta_container .cadastrarConta_container-formulario .cadastrarConta_formulario .cadastrarConta_formulario-left .aceitar-termos p {
              margin-left: 8px;
              font-size: 13px;
              color: #6B6B6B; }
              .cadastrarConta .cadastrarConta_container .cadastrarConta_container-formulario .cadastrarConta_formulario .cadastrarConta_formulario-left .aceitar-termos p a {
                font-size: 16px;
                font-weight: 700;
                color: #3483FA;
                text-decoration: none; }
                .cadastrarConta .cadastrarConta_container .cadastrarConta_container-formulario .cadastrarConta_formulario .cadastrarConta_formulario-left .aceitar-termos p a:hover {
                  color: #106DF9; }
          .cadastrarConta .cadastrarConta_container .cadastrarConta_container-formulario .cadastrarConta_formulario .cadastrarConta_formulario-left .jaSouCadastrado {
            width: 136px;
            margin: 0 auto;
            margin-top: 24px; }
            .cadastrarConta .cadastrarConta_container .cadastrarConta_container-formulario .cadastrarConta_formulario .cadastrarConta_formulario-left .jaSouCadastrado a {
              text-decoration: none;
              color: #3483FA;
              font-weight: 700; }
              .cadastrarConta .cadastrarConta_container .cadastrarConta_container-formulario .cadastrarConta_formulario .cadastrarConta_formulario-left .jaSouCadastrado a:hover {
                color: #106DF9; }
        .cadastrarConta .cadastrarConta_container .cadastrarConta_container-formulario .cadastrarConta_formulario .cadastrarConta_formulario-right {
          width: 384px; }
        .cadastrarConta .cadastrarConta_container .cadastrarConta_container-formulario .cadastrarConta_formulario .cadastrarConta_uf-cidade {
          display: flex;
          justify-content: space-between; }
          .cadastrarConta .cadastrarConta_container .cadastrarConta_container-formulario .cadastrarConta_formulario .cadastrarConta_uf-cidade .uf {
            width: 64px; }
          .cadastrarConta .cadastrarConta_container .cadastrarConta_container-formulario .cadastrarConta_formulario .cadastrarConta_uf-cidade .cidade {
            width: 248px; }
        .cadastrarConta .cadastrarConta_container .cadastrarConta_container-formulario .cadastrarConta_formulario .cadastrarConta_rua-numero {
          display: flex;
          justify-content: space-between; }
          .cadastrarConta .cadastrarConta_container .cadastrarConta_container-formulario .cadastrarConta_formulario .cadastrarConta_rua-numero .rua {
            width: 236px; }
          .cadastrarConta .cadastrarConta_container .cadastrarConta_container-formulario .cadastrarConta_formulario .cadastrarConta_rua-numero .numero {
            width: 80px; }

.cadastrarConta_campo-formulario {
  display: flex;
  flex-direction: column; }
  .cadastrarConta_campo-formulario label {
    font-size: 16px;
    font-weight: 700;
    line-height: 125%;
    color: #2B2833;
    margin-bottom: 8px; }
  .cadastrarConta_campo-formulario input {
    border: 1px solid #8D8C8C;
    border-radius: 5px;
    width: 360px;
    height: 40px;
    padding-left: 16px;
    margin-bottom: 32px; }

.testeError_campo-formulario {
  display: flex;
  flex-direction: column; }
  .testeError_campo-formulario label {
    font-size: 16px;
    font-weight: 700;
    line-height: 125%;
    color: #2B2833;
    margin-bottom: 8px; }
  .testeError_campo-formulario input {
    border: 2px solid #F93030;
    border-radius: 5px;
    width: 360px;
    height: 40px;
    padding-left: 16px;
    margin-bottom: 8px; }
  .testeError_campo-formulario p {
    color: #F93030;
    font-size: 12px; }

.lojasOficiais_banner {
  background: url(../../assets/img/banner_lojas_oficiais.png) no-repeat center center;
  width: 100%;
  height: 200px; }
  .lojasOficiais_banner h1 {
    font-size: 48px;
    font-weight: 700;
    color: white;
    padding-top: 54px; }
  .lojasOficiais_banner p {
    font-size: 14px;
    color: white;
    margin-left: 40px;
    margin-top: 20px;
    width: 240px;
    line-height: 150%; }

#lojasOficiais_container {
  display: flex;
  flex-direction: column; }
  #lojasOficiais_container form {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    align-self: center; }
    #lojasOficiais_container form label {
      font-size: 20px;
      font-weight: 700;
      color: #2B2833;
      margin-bottom: 12px; }
    #lojasOficiais_container form .container_buscar-loja__input-button {
      display: flex;
      justify-content: space-between;
      width: 492px; }
      #lojasOficiais_container form .container_buscar-loja__input-button input {
        width: 458px;
        height: 44px;
        border: none;
        border-radius: 5px 0 0 5px;
        background: #dbdbdb;
        padding-left: 16px; }
      #lojasOficiais_container form .container_buscar-loja__input-button button {
        background-color: #3483FA;
        border: none;
        border-radius: 0 5px 5px 0;
        width: 44px;
        height: 44px;
        cursor: pointer;
        transition: 0.15s; }
        #lojasOficiais_container form .container_buscar-loja__input-button button:hover {
          background-color: #106DF9; }
  #lojasOficiais_container .lojasOficiais_container__logo-lojas {
    margin-bottom: 120px; }
    #lojasOficiais_container .lojasOficiais_container__logo-lojas .container_lojas-container {
      height: 592px;
      margin-top: 80px; }
      #lojasOficiais_container .lojasOficiais_container__logo-lojas .container_lojas-container .logo_lojas {
        height: 486px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 64px; }
        #lojasOficiais_container .lojasOficiais_container__logo-lojas .container_lojas-container .logo_lojas .loja {
          width: 387px;
          height: 224px;
          background: white;
          box-shadow: 0 8px 35px 0 rgba(0, 0, 0, 0.18);
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.15s; }
          #lojasOficiais_container .lojasOficiais_container__logo-lojas .container_lojas-container .logo_lojas .loja:nth-child(2) {
            margin: 0 32px 0 32px; }
          #lojasOficiais_container .lojasOficiais_container__logo-lojas .container_lojas-container .logo_lojas .loja:nth-child(5) {
            margin: 0 32px 0 32px; }
          #lojasOficiais_container .lojasOficiais_container__logo-lojas .container_lojas-container .logo_lojas .loja:hover {
            transform: scale(1.02);
            box-shadow: 0 8px 35px 0 rgba(0, 0, 0, 0.3); }
    #lojasOficiais_container .lojasOficiais_container__logo-lojas .lojasOficiais_categoria-button {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      #lojasOficiais_container .lojasOficiais_container__logo-lojas .lojasOficiais_categoria-button h3 {
        font-size: 24px;
        color: #6B6B6B; }

.main_cadastrarProduto {
  background-color: #E4E4E4;
  height: 1380px; }

.cadastrarProduto_logo-contato {
  display: flex;
  justify-content: space-between;
  padding-top: 40px; }
  .cadastrarProduto_logo-contato a {
    text-decoration: none;
    color: #3483FA;
    font-weight: 700;
    height: 20px; }
    .cadastrarProduto_logo-contato a:hover {
      color: #106DF9; }

.cadastrarProduto_container {
  width: 1072px;
  height: 1150px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .cadastrarProduto_container .cadastrarProduto_informacao h2 {
    padding-top: 42px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    color: #5F1AC1;
    text-align: center; }
  .cadastrarProduto_container .cadastrarProduto_informacao p {
    margin-top: 16px;
    color: #8D8C8C;
    text-align: center; }
  .cadastrarProduto_container .popup_cadastrarConta {
    width: 592px;
    height: 72px;
    background-color: white;
    box-shadow: 0 8px 35px 0 rgba(64, 0, 87, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 6px solid #5F1AC1;
    margin-top: 32px; }
    .cadastrarProduto_container .popup_cadastrarConta p {
      font-size: 14px;
      color: #421286;
      line-height: 150%;
      width: 384px;
      margin-left: 56px; }
    .cadastrarProduto_container .popup_cadastrarConta a {
      visibility: hidden;
      width: 22px;
      height: 22px;
      background-color: #F93030;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      color: white;
      text-decoration: none;
      margin-right: 24px;
      transition: 0.15s; }
      .cadastrarProduto_container .popup_cadastrarConta a:hover {
        background-color: #c51313; }
  .cadastrarProduto_container form {
    margin-top: 64px;
    display: flex;
    flex-direction: column; }
    .cadastrarProduto_container form .container_preco-precoPromocional {
      display: flex;
      justify-content: space-between;
      width: 624px; }
      .cadastrarProduto_container form .container_preco-precoPromocional .cadastrarProduto_preco {
        width: 260px; }
      .cadastrarProduto_container form .container_preco-precoPromocional .cadastrarProduto_precoPromocional {
        width: 260px; }
    .cadastrarProduto_container form .cadastrarProduto_container-button {
      align-self: flex-end;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;
      width: 384px; }
    .cadastrarProduto_container form .button_etapa-1-cadastrarProduto {
      align-self: flex-end; }
  .cadastrarProduto_container .cadastrarProduto_migalhadepao {
    display: flex;
    justify-content: space-between;
    width: 678px; }
    .cadastrarProduto_container .cadastrarProduto_migalhadepao .CadastrarProduto_etapa {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 72px;
      border-radius: 100%;
      width: 120px;
      height: 120px; }
      .cadastrarProduto_container .cadastrarProduto_migalhadepao .CadastrarProduto_etapa img {
        margin-bottom: 6px; }
      .cadastrarProduto_container .cadastrarProduto_migalhadepao .CadastrarProduto_etapa h4 {
        font-weight: 700;
        color: #FD7E02; }
    .cadastrarProduto_container .cadastrarProduto_migalhadepao .etapaNaoAlcancada {
      opacity: 30%;
      background: none; }
  .cadastrarProduto_container .cadastrarProduto_container-interface {
    width: 693px;
    height: 488px;
    background-color: #EEE9F4;
    border-radius: 5px;
    margin-top: 64px;
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around; }
    .cadastrarProduto_container .cadastrarProduto_container-interface .cadastrarProduto_adicionar {
      width: 661px;
      height: 186px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .cadastrarProduto_container .cadastrarProduto_container-interface .cadastrarProduto_adicionar .adicionarImagemProduto {
        width: 140px;
        height: 186px;
        background-color: white;
        display: flex;
        justify-content: center; }
        .cadastrarProduto_container .cadastrarProduto_container-interface .cadastrarProduto_adicionar .adicionarImagemProduto a {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          text-decoration: none;
          box-shadow: 0 8px 35px 0 rgba(64, 0, 87, 0.1);
          transition: 0.2s; }
          .cadastrarProduto_container .cadastrarProduto_container-interface .cadastrarProduto_adicionar .adicionarImagemProduto a:hover {
            box-shadow: 0 8px 35px 0 rgba(64, 0, 87, 0.2); }
          .cadastrarProduto_container .cadastrarProduto_container-interface .cadastrarProduto_adicionar .adicionarImagemProduto a p {
            margin-top: 16px;
            font-size: 14px;
            font-weight: 700;
            color: #3483FA;
            text-align: center;
            line-height: 115%; }
      .cadastrarProduto_container .cadastrarProduto_container-interface .cadastrarProduto_adicionar .container_preview_imagem {
        width: 500px;
        height: 188px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; }
        .cadastrarProduto_container .cadastrarProduto_container-interface .cadastrarProduto_adicionar .container_preview_imagem .preview_imagem {
          width: 72px;
          height: 72px;
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 12px;
          margin-top: 12px;
          margin-bottom: 12px; }
    .cadastrarProduto_container .cadastrarProduto_container-interface .containerVideo_cadastrarProduto {
      width: 400px;
      margin: 0 auto;
      height: 186px;
      background-color: #414141; }
