html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  letter-spacing: 0.2px; }

.button {
  border-radius: 5px;
  border: none;
  cursor: pointer; }

.button-normal-sm {
  background-color: #3483FA;
  width: 176px;
  height: 40px;
  color: #fff;
  font-weight: 700;
  transition: 0.15s ease-in; }
  .button-normal-sm:hover {
    background-color: #106DF9; }

.button-normal-lg {
  background-color: #3483FA;
  width: 384px;
  height: 40px;
  color: #fff;
  font-weight: 700;
  transition: 0.15s ease-in; }
  .button-normal-lg:hover {
    background-color: #106DF9; }

.button-comprar {
  background-color: #3483FA;
  width: 248px;
  height: 64px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  transition: 0.15s ease-in; }
  .button-comprar:hover {
    background-color: #106DF9; }

.button-carrinho {
  border: solid 2px #3483FA;
  width: 248px;
  height: 64px;
  color: #3483FA;
  font-weight: 700;
  font-size: 18px;
  transition: 0.15s ease-in; }
  .button-carrinho:hover {
    border: solid 2px #106DF9;
    color: #106DF9; }

.button-banner {
  background-color: #FD7E02;
  width: 280px;
  height: 56px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  transition: 0.15s ease-in; }
  .button-banner:hover {
    background-color: #FF6404; }

.button-promo-top {
  background-color: #FD7E02;
  width: 114px;
  height: 24px;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  transition: 0.15s ease-in; }
  .button-promo-top:hover {
    background-color: #FF6404; }

.button-minha-conta {
  background-color: #FD7E02;
  width: 176px;
  height: 44px;
  color: #fff;
  font-weight: 700;
  transition: 0.15s ease-in; }
  .button-minha-conta:hover {
    background-color: #FF6404; }

.button-card-comprar {
  background-color: #FD7E02;
  width: 100px;
  height: 28px;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  transition: 0.15s ease-in; }
  .button-card-comprar:hover {
    background-color: #FF6404; }

.button-formas-login {
  width: 122px;
  height: 44px;
  background-color: #302626;
  transition: 0.15s; }
  .button-formas-login:hover {
    background-color: #2b2222; }

.grid {
  width: 1226px;
  margin: 0 auto; }

#head-main {
  height: 148px;
  display: flex;
  align-items: center; }
  #head-main .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #head-main .logo img {
      width: 101px;
      height: 72px; }
    #head-main .logo input[type=text] {
      border: solid 1px #FD7E02;
      border-radius: 5px;
      width: 176px;
      height: 24px;
      padding-left: 14px;
      margin-top: 8px; }
  #head-main .busca {
    display: flex;
    align-items: center; }
    #head-main .busca input[type=text] {
      background-color: #FBE1C8;
      border: none;
      border-radius: 5px 0 0 5px;
      width: 476px;
      height: 44px;
      padding-left: 20px;
      margin-left: 32px; }
      #head-main .busca input[type=text]::placeholder {
        color: #FF6404;
        font-size: 14px; }
    #head-main .busca .pesquisar {
      width: 44px;
      height: 44px;
      border: none;
      background-color: #FD7E02;
      margin-left: 0;
      cursor: pointer;
      border-radius: 0 5px 5px 0;
      transition: 0.1s ease-in; }
      #head-main .busca .pesquisar img {
        width: 22px;
        height: 22px; }
      #head-main .busca .pesquisar:hover {
        background-color: #FF6404; }
  #head-main label {
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    margin-left: 32px; }
    #head-main label .icone-perfil {
      margin-right: 8px; }
  #head-main .icones {
    margin-left: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    #head-main .icones .alerta {
      margin: 14px; }
      #head-main .icones .alerta #alerta-svg {
        fill: #FD7E02;
        transition: 0.2s; }
        #head-main .icones .alerta #alerta-svg:hover {
          fill: #FF6404; }
    #head-main .icones .carrinho {
      margin-left: 6px; }
      #head-main .icones .carrinho #carrinho-svg {
        fill: #FD7E02;
        transition: 0.2s; }
        #head-main .icones .carrinho #carrinho-svg:hover {
          fill: #FF6404; }

nav {
  height: 54px;
  width: 100%;
  background-color: #421286; }
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0; }
    nav ul li a {
      text-decoration: none;
      padding: 14px;
      color: white;
      line-height: 54px;
      font-size: 15px; }
      nav ul li a:hover {
        border-bottom: 4px solid #FD7E02; }
    nav ul li:nth-child(1) {
      margin-right: 24px; }
      nav ul li:nth-child(1) a {
        font-weight: 500;
        font-size: 18px; }
        nav ul li:nth-child(1) a:hover {
          border-bottom: none; }

.card a {
  text-decoration: none;
  transition: 0.2s;
  margin-top: 48px;
  width: 280px;
  height: 392px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .card a .card-top {
    height: 258px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .card a .card-botton {
    margin: 0 12px 12px 12px; }
    .card a .card-botton .preco-antigo {
      color: #AEAEAE; }
    .card a .card-botton .container-comprar {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .card a .card-botton .container-comprar .preco {
        color: #2B2833;
        font-size: 24px;
        font-weight: 700; }
    .card a .card-botton .nome-card-produto {
      color: #525252;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      margin-top: 14px; }
  .card a:hover {
    box-shadow: 0 8px 35px 0 rgba(64, 0, 87, 0.2);
    transform: scale(1.02); }

.card-categoria-link {
  text-decoration: none;
  cursor: pointer; }
  .card-categoria-link .card_categoria {
    width: 176px;
    height: 176px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s; }
    .card-categoria-link .card_categoria h5 {
      font-size: 14px;
      line-height: 21px;
      font-weight: 500;
      color: #8D8C8C;
      margin-top: 16px; }
    .card-categoria-link .card_categoria:hover {
      transform: scale(1.03);
      background-color: #FD7E02;
      box-shadow: 0 8px 35px 0 rgba(64, 0, 87, 0.3); }
      .card-categoria-link .card_categoria:hover h5 {
        color: white; }
      .card-categoria-link .card_categoria:hover .hover-categoria-sugerida {
        fill: white; }

#promo-top {
  background-color: #f3f3f3;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }
  #promo-top .promo-top-container {
    width: auto;
    display: flex;
    align-items: center; }
    #promo-top .promo-top-container h4 {
      color: #421286;
      text-transform: uppercase; }
      #promo-top .promo-top-container h4 span {
        font-weight: 700; }
    #promo-top .promo-top-container button {
      margin-left: 32px; }

.destaque {
  display: flex;
  justify-content: space-between; }

.banner {
  width: 1440px;
  height: 438px;
  background-color: #FFAC00;
  background-image: url(../../assets/img/banner-grande-1.png); }

.oferta-semana {
  height: 552px;
  display: flex;
  flex-direction: column; }
  .oferta-semana h2 {
    margin-top: 80px;
    text-align: center;
    font-size: 48px;
    line-height: 60px;
    font-weight: 300;
    color: #6B6B6B; }
  .oferta-semana .container-box {
    margin-top: 36px;
    display: flex;
    justify-content: space-between; }
    .oferta-semana .container-box .box-oferta-semana {
      width: 384px;
      height: 286px;
      background-color: #FEA04E; }

.destaque {
  display: flex;
  flex-direction: column; }
  .destaque h2 {
    text-align: center;
    font-size: 48px;
    line-height: 60px;
    font-weight: 300;
    color: #6B6B6B; }
  .destaque .produtos-destaque {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px; }

.banner-meio {
  margin-top: 80px;
  width: 1440px;
  height: 286px;
  display: flex;
  align-items: flex-end;
  background-image: url(../../assets/img/banner-pequeno-2.png); }
  .banner-meio button {
    margin-bottom: 38px; }

.produtos-botton-banner {
  margin-top: 80px; }
  .produtos-botton-banner .produtos-botton {
    display: flex;
    justify-content: space-between; }

.outras-ofertas {
  margin-top: 80px; }
  .outras-ofertas h2 {
    text-align: center;
    font-size: 48px;
    line-height: 60px;
    font-weight: 300;
    color: #6B6B6B; }
  .outras-ofertas .container-box-outras-ofertas {
    display: flex;
    justify-content: space-between; }
    .outras-ofertas .container-box-outras-ofertas .box-outras-ofertas {
      margin-top: 36px;
      width: 592px;
      height: 286px;
      background-color: #FEA04E; }

.categorias-sugeridas {
  margin-top: 80px;
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: #F2EEF7; }
  .categorias-sugeridas .container-categorias-sugeridas h2 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 300;
    color: #6B6B6B;
    text-align: center;
    margin-bottom: 36px; }
  .categorias-sugeridas .container-categorias-sugeridas .container-box-categorias-sugeridas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .categorias-sugeridas .container-categorias-sugeridas .container-box-categorias-sugeridas a {
      margin-bottom: 32px; }

.sobre-comercio-livre {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between; }
  .sobre-comercio-livre .sobre-home {
    width: 480px;
    height: 160px;
    border-radius: 5px;
    border: solid 2px #DBCDEF;
    padding: 32px;
    display: flex;
    align-items: center; }
    .sobre-comercio-livre .sobre-home img {
      width: 128px;
      height: 90px; }
    .sobre-comercio-livre .sobre-home p {
      margin-left: 18px;
      font-size: 14px;
      line-height: 21px;
      font-weight: 400;
      color: #8D8C8C; }
  .sobre-comercio-livre .mapa-home {
    width: 592px;
    height: 360px;
    border-radius: 5px; }

.container .box-teste {
  width: 200px;
  height: 200px;
  background-color: yellow; }

body {
  background: #E3E3E3;
  height: 868px; }

.container-login {
  background: url(../../assets/img/pagina-login.png) no-repeat;
  height: 868px; }
  .container-login .container {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
  .container-login .container-left-login {
    z-index: 1; }
    .container-login .container-left-login .texto-login {
      margin-top: 60vh;
      width: 384px; }
      .container-login .container-left-login .texto-login h1 {
        font-size: 64px;
        color: white;
        font-weight: 700;
        margin-bottom: 24px; }
        .container-login .container-left-login .texto-login h1 span {
          color: #FD7E02; }
      .container-login .container-left-login .texto-login p {
        font-size: 20px;
        line-height: 150%;
        color: white; }
  .container-login .container-right {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .container-login .container-right .dica-login {
      margin-top: 54px;
      text-align: center;
      width: 410px;
      font-size: 12px;
      line-height: 18px;
      font-weight: 400;
      color: #6B6B6B; }
  .container-login .container-right-login {
    margin-top: 40px;
    width: 547px;
    height: 678px;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .container-login .container-right-login .titulo-login {
      margin-top: 48px;
      width: 410px; }
      .container-login .container-right-login .titulo-login img {
        margin-bottom: 40px; }
      .container-login .container-right-login .titulo-login h2 {
        font-size: 24px;
        font-weight: 700;
        color: #2B2833;
        margin-bottom: 32px; }
    .container-login .container-right-login .form-login {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .container-login .container-right-login .form-login .form {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px; }
        .container-login .container-right-login .form-login .form label {
          font-size: 16px;
          font-weight: 700;
          color: #525252;
          line-height: 125%;
          margin-bottom: 6px; }
        .container-login .container-right-login .form-login .form input {
          width: 384px;
          height: 40px;
          padding-left: 16px;
          border-radius: 5px;
          border: 1px solid #8D8C8C; }
      .container-login .container-right-login .form-login button {
        margin-bottom: 24px;
        width: 406px; }
    .container-login .container-right-login a {
      text-decoration: none;
      font-weight: 700;
      color: #3483FA;
      margin-bottom: 16px; }
      .container-login .container-right-login a:hover {
        color: #106DF9; }
    .container-login .container-right-login p {
      font-weight: 700;
      color: #AEAEAE;
      margin-bottom: 16px; }
    .container-login .container-right-login .outras-formas-login {
      width: 406px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px; }
    .container-login .container-right-login h5 {
      font-size: 14px;
      color: #6B6B6B; }
      .container-login .container-right-login h5 a {
        text-decoration: none;
        font-weight: 700;
        color: #3483FA;
        margin-bottom: 16px; }
        .container-login .container-right-login h5 a:hover {
          color: #106DF9; }
