html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Arial, Helvetica, sans-serif; }

.button {
  border-radius: 5px;
  border: none;
  cursor: pointer; }

.button-normal-sm {
  background-color: #3483FA;
  width: 176px;
  height: 40px;
  color: #fff;
  font-weight: 700;
  transition: 0.15s ease-in; }
  .button-normal-sm:hover {
    background-color: #106DF9; }

.button-normal-lg {
  background-color: #3483FA;
  width: 384px;
  height: 40px;
  color: #fff;
  font-weight: 700;
  transition: 0.15s ease-in; }
  .button-normal-lg:hover {
    background-color: #106DF9; }

.button-comprar {
  background-color: #3483FA;
  width: 248px;
  height: 64px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  transition: 0.15s ease-in; }
  .button-comprar:hover {
    background-color: #106DF9; }

.button-carrinho {
  border: solid 2px #3483FA;
  width: 248px;
  height: 64px;
  color: #3483FA;
  font-weight: 700;
  font-size: 18px;
  transition: 0.15s ease-in; }
  .button-carrinho:hover {
    border: solid 2px #106DF9;
    color: #106DF9; }

.button-banner {
  background-color: #FD7E02;
  width: 280px;
  height: 56px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  transition: 0.15s ease-in; }
  .button-banner:hover {
    background-color: #FF6404; }

.button-promo-top {
  background-color: #FD7E02;
  width: 114px;
  height: 24px;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  transition: 0.15s ease-in; }
  .button-promo-top:hover {
    background-color: #FF6404; }

.button-minha-conta {
  background-color: #FD7E02;
  width: 176px;
  height: 44px;
  color: #fff;
  font-weight: 700;
  transition: 0.15s ease-in; }
  .button-minha-conta:hover {
    background-color: #FF6404; }

.grid {
  width: 1226px;
  margin: 0 auto; }

#head-main {
  height: 148px;
  display: flex;
  align-items: center; }
  #head-main .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #head-main .logo img {
      width: 101px;
      height: 72px; }
    #head-main .logo input[type=text] {
      border: solid 1px #FD7E02;
      border-radius: 5px;
      width: 176px;
      height: 24px;
      padding-left: 14px;
      margin-top: 8px; }
  #head-main .busca {
    display: flex;
    align-items: center; }
    #head-main .busca input[type=text] {
      background-color: #FBE1C8;
      border: none;
      border-radius: 5px 0 0 5px;
      width: 476px;
      height: 44px;
      padding-left: 20px;
      margin-left: 32px; }
      #head-main .busca input[type=text]::placeholder {
        color: #FF6404;
        font-size: 14px; }
    #head-main .busca .pesquisar {
      width: 44px;
      height: 44px;
      border: none;
      background-color: #FD7E02;
      margin-left: 0;
      cursor: pointer;
      border-radius: 0 5px 5px 0;
      transition: 0.1s ease-in; }
      #head-main .busca .pesquisar:hover {
        background-color: #FF6404; }
  #head-main button {
    margin-left: 32px; }
  #head-main .icones {
    margin-left: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    #head-main .icones .alerta {
      margin: 14px; }
    #head-main .icones .carrinho {
      margin-left: 6px; }

#promo-top {
  background-color: #f3f3f3;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }
  #promo-top .promo-top-container {
    width: auto;
    display: flex;
    align-items: center; }
    #promo-top .promo-top-container h4 {
      color: #421286;
      text-transform: uppercase; }
      #promo-top .promo-top-container h4 span {
        font-weight: 700; }
    #promo-top .promo-top-container button {
      margin-left: 32px; }
