nav {
  height: 54px;
  width: 100%;
  background-color: $purple;

  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

    li {
      a,
      span {
        text-decoration: none;
        padding: 14px;
        color: white;
        line-height: 54px;
        font-size: 15px;
        cursor: pointer;

        &:hover {
          border-bottom: 4px solid $orange;
        }
      }

      &:nth-child(1) {
        margin-right: 24px;

        a,
        span {
          font-weight: 500;
          font-size: 18px;

          &:hover {
            border-bottom: none;
          }
        }
      }
    }
  }
}
