// Variaveis de cores

// ----- Cores primárias
$orange-dark: #FF6404;
$orange: #FD7E02;
$orange-light: #FEA04E;

// ----- Cores secundárias
$purple-dark: #2A0B55;
$purple: #421286;
$purple-light: #5F1AC1;

// ----- Cores auxiliares
$orange-super-light: #FBE1C8;
$purple-super-light: #F2EEF7;
$alert: #F93030;
$success: #33B427;

// ----- Cores de acessibilidade
$blue-daltonism: #3483FA;
$blue-daltonism-hover: #106DF9;

// ----- Escala de cinza
$gray-1: #2B2833;
$gray-2: #525252;
$gray-3: #6B6B6B;
$gray-4: #8D8C8C;
$gray-5: #AEAEAE;

// Variaveis de Tipográfias
