#cadastrarConta_bg { // Background da página inteira
  background-color: #E4E4E4;
  padding-bottom: 140px;
}

.cadastrarConta { // BG da página e página inteira
  width: 100%;
  background: url(../../assets/img/bg_cadastrarConta.png) no-repeat top center;

  .cadastrarConta_container { // Grid da página
    width: 1008px;
    margin: 0 auto;

    .cadastrarConta_titulo-logo { // Área do logo e do titulo
      display: flex;
      justify-content: space-between;
      align-items: center;

      .cadastrarConta_titulo { // Titulo da página
        width: 380px;
        
        h1 {        
          padding-top: 84px;
          line-height: 100%;
          font-size: 48px;
          font-weight: 700;
          line-height: 125%;
          color: white;
  
          span {
            color: $orange;
          }
        }
  
        p {
          margin-top: 8px;
          @include body-1;
          color: white;
        }
      }

      .cadastrarConta_logo { // Logo da página
        width: 96px;
        height: 88px;
        background-color: white;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          cursor: pointer;

          img {
            width: 72px;
            height: 52px;
          }
        }
      }
    }


    .cadastrarConta_container-formulario { // Container do formulário
      width: 1008px;
      height: 680px;
      background-color: white;
      margin-top: 48px;
      border-radius: 5px;

      .cadastrarConta_formulario { // formulário
        padding: 77px 88px 77px 88px;
        display: flex;
        justify-content: space-between;

        .cadastrarConta_formulario-left { // Coluna esquerda do formulário
          width: 384px;

          .aceitar-termos { // Checkbox - Aceitar termos
            display: flex;
            align-items: center;
            margin-top: 8px;
            margin-bottom: 20px;

            p {
              margin-left: 8px;
              font-size: 13px;
              color: $gray-3;

              a {
                font-size: 16px;
                font-weight: 700;
                color: $blue-daltonism;
                text-decoration: none;

                &:hover {
                  color: $blue-daltonism-hover;
                }
              }
            }
          }

          .jaSouCadastrado { // Link "Já sou cadastrado"
            width: 136px;
            margin: 0 auto;
            margin-top: 24px;

            a {
              text-decoration: none;
              color: $blue-daltonism;
              font-weight: 700;

              &:hover {
                color: $blue-daltonism-hover;
              }
            }
          }
        }
        
        .cadastrarConta_formulario-right { // Coluna direita do formulário
          width: 384px;
        }

        .cadastrarConta_uf-cidade { // Inputs de classe isolada UF e Cidade
          display: flex;
          justify-content: space-between;

          .uf {
            width: 64px;
          }

          .cidade {
            width: 248px;
          }
        }

        .cadastrarConta_rua-numero { // Inputs de classe isolada Rua e Número
          display: flex;
          justify-content: space-between;

          .rua {
            width: 236px;
          }

          .numero {
            width: 80px;
          }
        }
      }
    }
  }
}

.cadastrarConta_campo-formulario { // Estilização dos inputs do formulário
  display: flex;
  flex-direction: column;

  label {
    font-size: 16px;
    font-weight: 700;
    line-height: 125%;
    color: $gray-1;
    margin-bottom: 8px;
  }

  input {
    border: 1px solid $gray-4;
    border-radius: 5px;
    width: 360px;
    height: 40px;
    padding-left: 16px;
    margin-bottom: 32px;
  }
}

.testeError_campo-formulario { // Estilo de Input de teste de erro
  display: flex;
  flex-direction: column;

  label {
    font-size: 16px;
    font-weight: 700;
    line-height: 125%;
    color: $gray-1;
    margin-bottom: 8px;
  }

  input {
    border: 2px solid $alert;
    border-radius: 5px;
    width: 360px;
    height: 40px;
    padding-left: 16px;
    margin-bottom: 8px;
  }

  p {
    color: $alert;
    font-size: 12px;
  }
}