.contato_container {
    width: 100%;
    height: 1050px;
    background-color: $purple-super-light;
    padding-top: 64px;

    .contato_info_container {
        margin: 0 auto;
        width: 592px;
        height: 737px;
        background-color: rgb(255, 255, 255);
        display: flex;
        padding: 64px;
        flex-direction: column;
        align-items: center;
        
        .contato_titulo_container {
            align-self: flex-start;
            margin-left: -16px;

            .contato_titulo {
                font-size: 48px;
                font-weight: 700;
                color: $gray-1;
            }

            p {
                @include body-1;
                color: $gray-4;
                width: 384px;
                margin-top: 8px;
            }
        }

        .contato_formulario {
            margin-top: 64px;

            form {                
                display: flex;
                flex-direction: column;
            }

            textarea {                
                resize: none;
            }

            button {
                align-self: flex-end;
                margin-top: 32px;
            }
        }
    }
}