body {  
    background: #E3E3E3;
    height: 868px;
}

.container-login {
  background: url(../../assets/img/pagina-login.png) no-repeat;
  height: 868px;

  .container {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .container-left-login {
    z-index: 1;

    .texto-login {
      margin-top: 60vh;
      width: 384px;

        h1 {
        font-size: 64px;
        color: white;
        font-weight: 700;
        margin-bottom: 24px;

        span {
          color: $orange;
        }
      }

      p {
        font-size: 20px;
        line-height: 150%;
        color: white;
      }
    }
  }
  
  .container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 48px;

    .dica-login {
      margin-top: 54px;
      text-align: center;
      width: 410px;
      @include body-4;
      color: $gray-3;
    }
  }


  .container-right-login {
    margin-top: 40px;
    width: 547px;
    height: 678px;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .titulo-login {
      margin-top: 48px;
      width: 410px;

      img {
        margin-bottom: 40px;
      }

      h2 {
      font-size: 24px;
      font-weight: 700;
      color: $gray-1;
      margin-bottom: 32px;
      }
    }

    .form-login {
      display: flex;
      flex-direction: column;
      align-items: center;

      .form {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;

        label {
          font-size: 16px;
          font-weight: 700;
          color: $gray-2;
          line-height: 125%;
          margin-bottom: 6px;
        }

        input {
          width: 384px;
          height: 40px;
          padding-left: 16px;
          border-radius: 5px;
          border: 1px solid $gray-4;          
        }
      }

      button {
        margin-bottom: 24px;
        width: 406px;
      }
    }
  

    a {
      text-decoration: none;
      font-weight: 700;
      color: $blue-daltonism;
      margin-bottom: 16px;

      &:hover {
        color: $blue-daltonism-hover;
      }
    }

    p {
      font-weight: 700;
      color: $gray-5;
      margin-bottom: 16px;
    }

    .outras-formas-login {
      width: 406px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px;
    }

    h5 {
      font-size: 14px;
      color: $gray-3;
      a {      
        text-decoration: none;
        font-weight: 700;
        color: $blue-daltonism;
        margin-bottom: 16px;

        &:hover {
          color: $blue-daltonism-hover;
        }
      }
    }
  }
}