.lojasOficiais_banner {
  background:url(../../assets/img/banner_lojas_oficiais.png) no-repeat center center;
  width: 100%;
  height: 200px;

  h1 {
    font-size: 48px;
    font-weight: 700;
    color: white;
    padding-top: 54px;
    margin-left: 64px;
  }

  p {
    font-size: 14px;
    color: white;
    margin-left: 140px;
    margin-top: 20px;
    width: 240px;
    line-height: 150%;
  }
}


#lojasOficiais_container {
  display: flex;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    align-self: center;

    label {
      font-size: 20px;
      font-weight: 700;
      color: $gray-1;
      margin-bottom: 12px;
    }

    .container_buscar-loja__input-button {
      display: flex;
      justify-content: space-between;
      width: 492px;

      input {
        width: 458px;
        height: 44px;
        border: none;
        border-radius: 5px 0 0 5px;
        background: rgb(219, 219, 219);
        padding-left: 16px; 
      }

      button {
        background-color: $blue-daltonism;
        border: none;
        border-radius: 0 5px 5px 0;
        width: 44px;
        height: 44px;
        cursor: pointer;
        transition: 0.15s;

        &:hover {
          background-color: $blue-daltonism-hover;
        }
      }
    }
  }


  .lojasOficiais_container__logo-lojas {
    margin-bottom: 120px;
    
    .container_lojas-container {
      height: 592px;
      margin-top: 80px;
      
      .logo_lojas {
        height: 486px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 64px;

        .loja {
          width: 387px;
          height: 224px;
          background: white;
          box-shadow: 0 8px 35px 0 rgba(0, 0, 0, 0.18);
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.15s;

          &:nth-child(2) {
            margin: 0 32px 0 32px;
          }

          &:nth-child(5) {
            margin: 0 32px 0 32px;
          }

          &:hover {
            transform: scale(1.02);
            box-shadow: 0 8px 35px 0 rgba(0, 0, 0, 0.3);
          }
        }
      }
    }

    .lojasOficiais_categoria-button {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-size: 24px;
        color: $gray-3;
      }

    }
  }
}