// ******** BANNER *************

.supermercado_banner {
    background:url(../../assets/img/banner_supermercado.png) no-repeat center center
    #52C148;
    width: 100%;
    height: 200px;
  
    h1 {
      font-size: 48px;
      font-weight: 700;
      color: white;
      padding-top: 54px;
      margin-left: 64px;
    }
  
    p {
      font-size: 14px;
      color: white;
      margin-left: 140px;
      margin-top: 20px;
      width: 240px;
      line-height: 150%;
    }
  }

// ---------------------------
// ******** MAIN ***********

.supermercado_main {

    // DEPARTAMENTOS
    .supermercado_container-departamento-conteudo {

        h2 {
            @include title-1;
            color: $gray-3;
            margin-top: 64px;
            text-align: center;
        }

        .supermercado_container-departamento {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .supermercado_departamento {
                width: 384px;
                height: 140px;
                margin-top: 32px;

                a {
                    text-decoration: none;

                    &:hover img {
                        transition: 0.2s;
                        box-shadow: 0 8px 35px 0 rgba(64, 0, 87, 0.2);
                        transform: scale(1.02);                           
                    }
                }
            }
        }    
    }

    // BANNER MEIO
    .supermercado_banner-meio {
        margin-top: 80px;
        width: 100%;
        height: 200px;
        background: url(../../assets/img/supermercado_banner-meio.png) no-repeat center center;
    }
    

    // ALGUMAS PROMOÇÔES
    .supermercado_container_promocoes {

        h2 {
            @include title-1;
            color: $gray-3;
            margin-top: 64px;
            text-align: center;
        }

        .supermercado_container-produtos {
            display: flex;
            justify-content: space-between;
            margin-bottom: 80px;
        }
    }
}