body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  letter-spacing: 0.2px;
}

@mixin title-1 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 300;
}

@mixin title-2 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
}

@mixin title-3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}

@mixin title-4 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

@mixin title-5 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

@mixin title-5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

@mixin body-1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

@mixin body-2 {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

@mixin body-3 {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

@mixin body-4 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}