body {
  font-family: Arial, Helvetica, sans-serif;
}

@mixin title-1 ($cor-font){
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  line-height: 60px;
  font-weight: 300;
  color: $cor-font;
}

@mixin title-2 ($cor-font){
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  color: $cor-font;
}

@mixin title-3 ($cor-font){
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  color: $cor-font;
}

@mixin title-4 ($cor-font){
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  color: $cor-font;
}

@mixin title-5 ($cor-font){
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: $cor-font;
}

@mixin title-5 ($cor-font){
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: $cor-font;
}

@mixin body-1 ($cor-font){
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $cor-font;
}

@mixin body-2 ($cor-font){
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $cor-font;
}

@mixin body-3 ($cor-font){
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: $cor-font;
}

@mixin body-1 ($cor-font){
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: $cor-font;
}