.dropdown {
  position: relative;

  &-content {
    @include shadow;
    position: absolute;
    z-index: 50;

    margin-left: 30px;
    transform-origin: top;
    border-radius: 0.25rem;
  }

  &-category {
    width: 250px;
    left: -30px;

    ul {
      display: flex;
      flex-direction: column;
      border-bottom: 2px solid black;
      background-color: #2b2833;
    }

    li {
      color: white;
      font-weight: 500;
      margin-left: 25px;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      display: inline-table;

      &:first-child {
        margin-top: 10px;
      }
      &:last-child {
        margin-bottom: 10px;
      }
    }
  }
}
